body {
    background-image: url(./Img/bg.jpg);
    background-size: cover;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}

h1 {
    text-align: center;
}

a {
    color: aliceblue;
    text-decoration: none;
    margin-left: 30px ;
}
a:hover,button:hover {
    color: tomato;
}


.interface {
    background-color: rgba(37, 35, 20, 0.7);
    padding: 0.1% 1% 30% 1%;
    width: 70%;
    margin: auto;
    border-radius: 2%;
}

label {
    font-size: 20px;
    display: block;
    margin: 10px;
}

form div {
    margin: 15px auto 30px auto;
    text-align: center;
}

input {
    width: 30%;
    height: 30px;
    color: tomato;
    background-color: transparent;
}

.texto {
    text-align: justify;
    width: 30%;
    height: 70px;
}

button {
    background-color: aliceblue;
    font-size: 15px;
    width: 10%;
    height: 40px;
}