body {
    background-image: url(./Img/bg.jpg);
    background-size: cover;
    color: aliceblue;
    margin: 0;
}

header h2 {
    text-align: center;
    font-size: 50px;
}


a {
    color: aliceblue;
    text-decoration: none;
    margin-left: 30px;
}

a:hover {
    color: turquoise;
}

.container {
    max-width: 50%;
    margin: 0 auto;
    display: flex;
}

.item {
    flex: 1;
    margin: 20px;
    text-align: center;
    font-size: 25px;
    align-self: center;
}

.flex {
    display: flex;
}

.item img {
    width: 100%;
    margin: auto;
    border: 1px tomato solid;
}

img:hover {
    box-shadow: 1px 1px 10px 5px turquoise;
    transition: 1s;
}